@import '_variables';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import 'themes/_dark-mode';
@import 'themes/_light-mode';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


footer {
    text-align: center;
    padding: 2rem 1rem;
    border-top: 2px solid $primary;
    font-size: 0.9rem;
}

@import "navbar";
@import "index";
@import "form-btn";